<?php

declare(strict_types=1);

/*
 * LobLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace LobLib\Controllers;

use Core\Request\Parameters\FormParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use LobLib\Exceptions\ApiException;
use LobLib\Exceptions\Domains0Error1Exception;
use LobLib\Models\BuckslipOrder;
use LobLib\Models\BuckslipsOrdersResponse;
use LobLib\Models\ContentTypeEnum;

class BuckslipOrdersController extends BaseController
{
    /**
     * Retrieves the buckslip orders associated with the given buckslip id.
     *
     * @param string $buckslipId The ID of the buckslip to which the buckslip orders belong.
     * @param int|null $limit How many results to return.
     * @param int|null $offset An integer that designates the offset at which to begin returning
     *        results. Defaults to 0.
     *
     * @return BuckslipsOrdersResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function buckslipOrdersRetrieve(
        string $buckslipId,
        ?int $limit = 10,
        ?int $offset = 0
    ): BuckslipsOrdersResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/buckslips/{buckslip_id}/orders')
            ->auth('basicAuth')
            ->parameters(
                TemplateParam::init('buckslip_id', $buckslipId),
                QueryParam::init('limit', $limit),
                QueryParam::init('offset', $offset)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('0', ErrorType::init('Error', Domains0Error1Exception::class))
            ->type(BuckslipsOrdersResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Creates a new buckslip order given information
     *
     * @param string $buckslipId The ID of the buckslip to which the buckslip orders belong.
     * @param string $contentType
     * @param int $quantity The quantity of buckslips in the order (minimum 5,000).
     *
     * @return BuckslipOrder Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function buckslipOrderCreate(string $buckslipId, string $contentType, int $quantity): BuckslipOrder
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/buckslips/{buckslip_id}/orders')
            ->auth('basicAuth')
            ->parameters(
                TemplateParam::init('buckslip_id', $buckslipId),
                HeaderParam::init('Content-Type', $contentType)->serializeBy([ContentTypeEnum::class, 'checkValue']),
                FormParam::init('quantity', $quantity)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('0', ErrorType::init('Error', Domains0Error1Exception::class))
            ->type(BuckslipOrder::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
