<?php

declare(strict_types=1);

/*
 * LobLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace LobLib\Controllers;

use Core\Request\Parameters\FormParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use LobLib\Exceptions\ApiException;
use LobLib\Exceptions\Domains0Error1Exception;
use LobLib\Models\AllTemplates;
use LobLib\Models\Beforeafter;
use LobLib\Models\ContentTypeEnum;
use LobLib\Models\Template;
use LobLib\Models\TemplatesResponse2;
use LobLib\Utils\FileWrapper;

class TemplatesController extends BaseController
{
    /**
     * Retrieves the details of an existing template. You need only supply the unique template identifier
     * that was returned upon template creation.
     *
     * @param string $tmplId id of the template
     *
     * @return Template Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function templateRetrieve(string $tmplId): Template
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/templates/{tmpl_id}')
            ->auth('basicAuth')
            ->parameters(TemplateParam::init('tmpl_id', $tmplId));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('0', ErrorType::init('Error', Domains0Error1Exception::class))
            ->type(Template::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Updates the description and/or published version of the template with the given id. To update the
     * template's html, create a new version of the template.
     *
     * @param string $tmplId id of the template
     * @param string $contentType
     * @param string|null $description An internal description that identifies this resource. Must
     *        be no longer than 255 characters.
     * @param string|null $publishedVersion
     *
     * @return Template Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function templateUpdate(
        string $tmplId,
        string $contentType,
        ?string $description = null,
        ?string $publishedVersion = null
    ): Template {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/templates/{tmpl_id}')
            ->auth('basicAuth')
            ->parameters(
                TemplateParam::init('tmpl_id', $tmplId),
                HeaderParam::init('Content-Type', $contentType)->serializeBy([ContentTypeEnum::class, 'checkValue']),
                FormParam::init('description', $description),
                FormParam::init('published_version', $publishedVersion)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('0', ErrorType::init('Error', Domains0Error1Exception::class))
            ->type(Template::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Permanently deletes a template. Deleting a template also deletes its associated versions. Deleted
     * templates can not be used to create postcard, letter, or check resources.
     *
     * @param string $tmplId id of the template
     *
     * @return TemplatesResponse2 Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function templateDelete(string $tmplId): TemplatesResponse2
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/templates/{tmpl_id}')
            ->auth('basicAuth')
            ->parameters(TemplateParam::init('tmpl_id', $tmplId));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('0', ErrorType::init('Error', Domains0Error1Exception::class))
            ->type(TemplatesResponse2::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns a list of your templates. The templates are returned sorted by creation date, with the most
     * recently created templates appearing first.
     *
     * @param int|null $limit How many results to return.
     * @param Beforeafter|null $beforeAfter `before` and `after` are both optional but only one of
     *        them can be in the query at a time.
     * @param string[]|null $mInclude Request that the response include the total count by
     *        specifying `include=["total_count"]`.
     * @param array<string,string>|null $dateCreated Filter by date created. Accepted formats are
     *        ISO-8601 date or datetime, e.g. `{ "gt": "2012-01-01", "lt": "2012-01-31T12:34:56Z"
     *        }` where `gt` is >, `lt` is <, `gte` is ≥, and `lte` is ≤.
     * @param array<string,string>|null $metadata Filter by metadata key-value pair`.
     *
     * @return AllTemplates Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function templatesList(
        ?int $limit = 10,
        ?Beforeafter $beforeAfter = null,
        ?array $mInclude = null,
        ?array $dateCreated = null,
        ?array $metadata = null
    ): AllTemplates {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/templates')
            ->auth('basicAuth')
            ->parameters(
                QueryParam::init('limit', $limit),
                QueryParam::init('before/after', $beforeAfter),
                QueryParam::init('include', $mInclude),
                QueryParam::init('date_created', $dateCreated),
                QueryParam::init('metadata', $metadata)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('0', ErrorType::init('Error', Domains0Error1Exception::class))
            ->type(AllTemplates::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Creates a new template for use with the Print & Mail API. In Live mode, you can only have as many
     * non-deleted templates as allotted in your current <a href="https://dashboard.lob.
     * com/#/settings/editions" target="_blank">Print & Mail Edition</a>. If you attempt to create a
     * template past your limit, you will receive a `403` error. There is no limit in Test mode.
     *
     * @param string $contentType
     * @param string $html An HTML string of less than 100,000 characters to be used as the
     *        `published_version` of this template. See [here](#section/HTML-Examples) for
     *        guidance on designing HTML templates. Please see endpoint specific documentation for
     *        any other product-specific HTML details:
     *        - [Postcards](#operation/postcard_create) - `front` and `back`
     *        - [Self Mailers](#operation/self_mailer_create) - `inside` and `outside`
     *        - [Letters](#operation/letter_create) - `file`
     *        - [Checks](#operation/check_create) - `check_bottom` and `attachment`
     *        - [Cards](#operation/card_create) - `front` and `back`
     *
     *        If there is a syntax error with your variable names within your HTML, then an error
     *        will be thrown, e.g. using a `{{#users}}` opening tag without the corresponding
     *        closing tag `{{/users}}`.
     * @param string|null $description An internal description that identifies this resource. Must
     *        be no longer than 255 characters.
     * @param array<string,string>|null $metadata Use metadata to store custom information for
     *        tagging and labeling back to your internal systems. Must be an object with up to 20
     *        key-value pairs. Keys must be at most 40 characters and values must be at most 500
     *        characters. Neither can contain the characters `"` and `\`. i.e. '{"customer_id" :
     *        "NEWYORK2015"}' Nested objects are not supported.  See [Metadata](#section/Metadata)
     *        for more information.
     * @param FileWrapper|null $engine
     * @param string[]|null $requiredVars An array of required variables to be used in a template.
     *        Only available for `handlebars` templates.
     *
     * @return Template Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function createTemplate(
        string $contentType,
        string $html,
        ?string $description = null,
        ?array $metadata = null,
        ?FileWrapper $engine = null,
        ?array $requiredVars = null
    ): Template {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/templates')
            ->auth('basicAuth')
            ->parameters(
                HeaderParam::init('Content-Type', $contentType)->serializeBy([ContentTypeEnum::class, 'checkValue']),
                FormParam::init('html', $html),
                FormParam::init('description', $description),
                FormParam::init('metadata', $metadata),
                FormParam::init('engine', $engine),
                FormParam::init('required_vars', $requiredVars)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('0', ErrorType::init('Error', Domains0Error1Exception::class))
            ->type(Template::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
